@model LigaPro.Models.Equipo

@{
    ViewData["Title"] = "Detalles del Equipo";
}

<div class="details-page"> <!-- Aplicamos la clase para el fondo degradado -->
    <h1 class="text-center">DETALLES DEL EQUIPO</h1>

    <div>
        <h4 class="text-center">Información del Equipo</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Nombre)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Nombre)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Ciudad)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Ciudad)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Titulos)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Titulos)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.AceptaExtranjeros)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.AceptaExtranjeros)
            </dd>
        </dl>
    </div>

    <div class="text-center">
        <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary">Editar</a> <!-- Estiliza el enlace de editar -->
        |
        <a asp-action="Index" class="btn btn-link">Volver a la lista</a> <!-- Estiliza el enlace de regreso -->
    </div>
</div>


